@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(2, 2, 7) 35%, rgb(112, 116, 117) 100%);
    background-image: url('../background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.placeholderText::placeholder {
    color: rgba(124, 124, 124, 0.4);
    font-size: 14px;
  }